@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  word-break: keep-all;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  width: 100%;
}

ul,
li {
  list-style: none;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}
header .logo {
  width: 239px;
}
header .menu {
  display: flex;
}
header .menu li {
  margin-left: 24px;
  font-size: 13px;
}
header .search {
  display: flex;
}
header .search li {
  margin-left: 30px;
  font-size: 20px;
}
header .search .menu-bar {
  display: none;
  width: 28px;
  height: 22px;
  position: relative;
}
header .search .menu-bar .bar1 {
  position: absolute;
  top: 6px;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: 0.5s;
}
header .search .menu-bar .bar2 {
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: 0.5s;
}
header aside {
  position: fixed;
  top: 0;
  right: 0;
  width: 385px;
  height: 100vh;
  background: #fff;
  z-index: 111;
  transform: translateX(100%);
  transition: transform 0.6s ease;
  padding: 60px 40px 40px;
}
header aside .aside-item1 li a {
  display: block;
  line-height: 47px;
  font-size: 24px;
}
header aside .aside-item2 {
  margin-top: 30px;
}
header aside .aside-item2 li a {
  display: block;
  line-height: 37px;
  font-size: 17px;
}
header aside .aside-item3 {
  position: absolute;
  bottom: 45px;
  left: 40px;
}
header aside .aside-item3 li a {
  display: block;
  line-height: 29px;
  font-size: 13px;
}
header .aside-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  z-index: 112;
  opacity: 0;
  visibility: hidden;
}
header .aside-btn .bar3 {
  position: absolute;
  top: 11.5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  transition: transform 0.3s 0.3s;
}
header .aside-btn .bar4 {
  position: absolute;
  top: 11.5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  transition: transform 0.3s 0.3s;
}
header .aside-btn-on .bar3 {
  transform: rotate(45deg);
}
header .aside-btn-on .bar4 {
  transform: rotate(-45deg);
}
header .aside-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 110;
  background: rgba(0, 0, 0, 0.38);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

.banner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.banner .banner-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20vw;
  padding-left: 25vw;
}
.banner .banner-back .banner-content {
  text-align: center;
  color: #343434;
  width: 29vw;
}
.banner .banner-back .banner-content h2 {
  font-size: 4.583vw;
  line-height: 0.933;
  letter-spacing: -0.888px;
  font-family: "Lora", serif;
  font-weight: 400;
}
.banner .banner-back .banner-content p {
  font-size: 0.781vw;
  margin-top: 1.822vw;
  line-height: 1.533;
}
.banner .swiper {
  height: 48.906vw;
  width: auto;
  pointer-events: none;
}
.banner .swiper .swiper-img {
  width: 100%;
  height: 100%;
  padding-left: 50vw;
}
.banner .swiper .swiper-img img {
  height: 100%;
  width: auto;
}
.banner .swiper .swiper-img .img1 {
  transform: scale(1.3) translateY(-30px);
}
.banner .swiper .swiper-img .img2 {
  transform: scale(1.35) translateY(-43px);
}
.banner .swiper .swiper-img .img3 {
  transform: scale(1.35) translateY(-55px);
}
.banner .swiper .swiper-img .img4 {
  transform: scale(1.15) translateY(-37px);
}
.banner .swiper .swiper-img .img5 {
  transform: scale(1.15) translateY(-16px);
}
.banner .swiper .swiper-img .img6 {
  transform: scale(1.1) translateY(-17px);
}
.banner .swiper .swiper-img .img7 {
  transform: scale(1.2) translateY(-15px);
}
.banner .banner-p {
  display: none;
  font-size: 11px;
  text-align: center;
  margin: 8vw 10.933vw;
  line-height: 1.533;
}

.collection {
  width: 100%;
}
.collection h2 {
  font-size: 35px;
  text-align: center;
  padding: 6.77vw 0 2.864vw;
  line-height: 1;
  font-family: "Lora", serif;
  font-weight: 400;
}
.collection .product-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}
.collection .product-wrap .product-large {
  width: calc(50% - 1px);
  position: relative;
  cursor: pointer;
}
.collection .product-wrap .product-large .col1-1 {
  display: none;
}
.collection .product-wrap .product-large:hover .col1 {
  display: none;
}
.collection .product-wrap .product-large:hover .col1-1 {
  display: block;
}
.collection .product-wrap .product-small {
  display: flex;
  flex-wrap: wrap;
  gap: 0px 1px;
  width: calc(50% - 1px);
}
.collection .product-wrap .product-small .product-small-img {
  position: relative;
  width: calc(50% - 1px);
  cursor: pointer;
}
.collection .product-wrap .product-small .product-small-img .col1-1 {
  display: none;
}
.collection .product-wrap .product-small .product-small-img:hover .col1 {
  display: none;
}
.collection .product-wrap .product-small .product-small-img:hover .col1-1 {
  display: block;
}
.collection .product-wrap .product-info {
  position: absolute;
  left: 25px;
  bottom: 32px;
}
.collection .product-wrap .product-info .product-name {
  height: 8px;
  margin-bottom: 9px;
  font-size: 12px;
  font-family: "Lora", serif;
  font-weight: 400;
  line-height: 20px;
}
.collection .product-wrap .product-info .product-link {
  font-size: 11px;
  line-height: 20px;
  text-decoration: underline;
}

.son {
  margin-top: 35vh;
}
.son .son-header {
  padding: 0 5vw;
  overflow: hidden;
  display: flex;
  font-size: 5.2vw;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}
.son .son-header .son-header-ani {
  transition: 1s;
}
.son .son-header .son-header-ani:nth-child(2) {
  transition: 1s 0.2s;
}
.son .son-header .son-header-ani:nth-child(3) {
  transition: 1s 0.4s;
}
.son .son-cut {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
  margin: 100px auto 0;
  gap: 0 4px;
}
.son .son-cut .son-cut-video {
  width: 100%;
}
.son .son-cut .son-cut-face {
  width: calc(50% - 2px);
  overflow: hidden;
}

.son-product {
  margin-top: 120px;
}
.son-product p {
  text-align: center;
}
.son-product .son-product-swiper {
  margin-top: 50px;
  padding-bottom: 50px;
}
.son-product .son-product-swiper .son-product-prev {
  transform: scale(0.3);
  color: #000;
  font-weight: bold;
  top: auto;
  bottom: -4px;
  left: calc(50% - 60px);
  z-index: 100;
}
.son-product .son-product-swiper .son-product-next {
  transform: scale(0.3);
  color: #000;
  font-weight: bold;
  top: auto;
  bottom: -4px;
  right: calc(50% - 60px);
  z-index: 100;
}
.son-product .son-product-swiper .son-product-1-next,
.son-product .son-product-swiper .son-product-2-next,
.son-product .son-product-swiper .son-product-3-next,
.son-product .son-product-swiper .son-product-4-next,
.son-product .son-product-swiper .son-product-5-next,
.son-product .son-product-swiper .son-product-6-next,
.son-product .son-product-swiper .son-product-7-next,
.son-product .son-product-swiper .son-product-1-prev,
.son-product .son-product-swiper .son-product-2-prev,
.son-product .son-product-swiper .son-product-3-prev,
.son-product .son-product-swiper .son-product-4-prev,
.son-product .son-product-swiper .son-product-5-prev,
.son-product .son-product-swiper .son-product-6-prev,
.son-product .son-product-swiper .son-product-7-prev {
  transform: scale(0.5);
  color: #000;
  opacity: 0;
  transition: opacity 0.2s;
}
.son-product .son-product-swiper .swiper-slide:hover .swiper-button-next,
.son-product .son-product-swiper .swiper-slide:hover .swiper-button-prev {
  opacity: 1;
}
.son-product .son-product-info {
  text-align: right;
}

.popup {
  margin-top: 150px;
  padding-bottom: 20vh;
  text-align: center;
}
.popup .popup-img {
  margin: 50px 0;
  width: 100%;
  height: 80vh;
  background: url("https://raw.githubusercontent.com/tjghwns93/gentlemonster-images/main/pop-up.webp") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.popup .popup-info p {
  font-size: 13px;
  line-height: 24px;
}
.popup .popup-info p:first-child {
  text-decoration: underline;
}
.popup .coomingsoon {
  margin-top: 20px;
}
.popup .coomingsoon p {
  display: inline-block;
  color: #fff;
  background-color: #000;
  padding: 15px;
  border-radius: 50px;
}

footer {
  width: 100%;
  padding: 56px 60px 32px;
  background: #f7f7f7;
  color: #343434;
}
footer .footer-link {
  display: flex;
}
footer .footer-link ul {
  max-width: 303px;
  width: 100%;
}
footer .footer-link ul li {
  padding: 3px 0 4px;
  font-size: 12px;
  color: #858585;
}
footer .footer-link ul li:first-child {
  padding-bottom: 16px;
  font-size: 13px;
  color: #343434;
}
footer .footer-link-tab {
  display: none;
}
footer .footer-link-tab ul li {
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  font-size: 13px;
  padding: 14px 0 15px;
}
footer .footer-link-tab ul li::after {
  content: "+";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}
footer .footer-info {
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  font-size: 15px;
}
footer .footer-info p {
  min-width: 250px;
  max-width: 250px;
  font-family: "Lora", serif;
}
footer .footer-info > div {
  font-size: 11px;
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  header .logo {
    width: 210px;
  }
  header .menu {
    display: none;
  }
  header .search {
    align-items: center;
  }
  header .search .menu-bar {
    display: block;
  }
  header .search li {
    font-size: 16px;
  }
  .banner .banner-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    margin-top: 13.671vw;
    margin-bottom: 5vw;
    padding: 0;
    text-align: center;
  }
  .banner .banner-back .banner-content {
    width: auto;
  }
  .banner .banner-back .banner-content h2 {
    font-size: 32px;
    font-weight: 600;
  }
  .banner .banner-back .banner-content p {
    display: none;
  }
  .banner .swiper {
    height: 96.223vw;
    margin-top: -11.784vw;
  }
  .banner .swiper .swiper-img {
    padding: 0;
    text-align: center;
  }
  .banner .banner-p {
    display: block;
  }
  .collection h2 {
    padding: 15.77vw 0 2.864vw;
  }
  .collection .product-wrap .product-large {
    width: 100%;
  }
  .collection .product-wrap .product-small {
    width: 100%;
  }
  .son .son-header {
    font-size: 8vw;
  }
  .son .son-cut {
    width: 95%;
    gap: 4px;
  }
  .son .son-cut .son-cut-face {
    width: 100%;
  }
  .popup .popup-img {
    margin: 20px 0;
  }
  footer {
    padding: 20px;
  }
  footer .footer-link {
    display: none;
  }
  footer .footer-link-tab {
    display: block;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  header .logo {
    width: 210px;
  }
  header .menu {
    display: none;
  }
  header .search {
    align-items: center;
  }
  header .search .menu-bar {
    display: block;
  }
  .banner .banner-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    margin-top: 13.671vw;
    margin-bottom: 5vw;
    padding: 0;
    text-align: center;
  }
  .banner .banner-back .banner-content {
    width: auto;
  }
  .banner .banner-back .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
  }
  .banner .banner-back .banner-content p {
    display: none;
  }
  .banner .swiper {
    height: 96.223vw;
    margin-top: -11.784vw;
  }
  .banner .swiper .swiper-img {
    padding: 0;
    text-align: center;
  }
  .banner .banner-p {
    display: block;
  }
  .collection .product-wrap .product-large {
    width: 100%;
  }
  .collection .product-wrap .product-small {
    width: 100%;
  }
  .son .son-header {
    font-size: 8vw;
  }
  .son .son-cut {
    width: 95%;
    gap: 4px;
  }
  .son .son-cut .son-cut-face {
    width: 100%;
  }
  .popup .popup-img {
    margin: 20px 0;
  }
  footer {
    padding: 20px;
  }
  footer .footer-link {
    display: none;
  }
  footer .footer-link-tab {
    display: block;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header .logo {
    width: 210px;
  }
  header .menu {
    display: none;
  }
  header .search {
    align-items: center;
  }
  header .search .menu-bar {
    display: block;
  }
  .banner .banner-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    margin-top: 13.671vw;
    padding: 0;
    text-align: center;
  }
  .banner .banner-back .banner-content {
    width: auto;
  }
  .banner .banner-back .banner-content h2 {
    font-size: 62px;
    font-weight: 600;
  }
  .banner .banner-back .banner-content p {
    width: 48.177vw;
    margin: 4.557vw auto 0;
    font-size: 15px;
  }
  .banner .swiper {
    height: 96.223vw;
    margin-top: -11.784vw;
  }
  .banner .swiper .swiper-img {
    padding: 0;
    text-align: center;
  }
  .son .son-cut {
    width: 750px;
  }
  .popup .popup-img {
    margin: 20px 0;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1279px) {
  .banner .banner-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    margin-top: 13.671vw;
    padding: 0;
    text-align: center;
  }
  .banner .banner-back .banner-content {
    width: auto;
  }
  .banner .banner-back .banner-content h2 {
    font-size: 88px;
    font-weight: 600;
  }
  .banner .banner-back .banner-content p {
    width: 48.177vw;
    margin: 4.557vw auto 0;
    font-size: 15px;
  }
  .banner .swiper {
    height: 96.223vw;
    margin-top: -11.784vw;
  }
  .banner .swiper .swiper-img {
    padding: 0;
    text-align: center;
  }
  .popup .popup-img {
    margin: 20px 0;
  }
}/*# sourceMappingURL=style.css.map */